@media only screen and (max-width: 400px) {
    .mysection{
        padding-right: 10px;
        padding-left: 10px;
    }
    .css-1q89n6x-MuiTypography-root{
        display: block !important;
    }

}
/* for about myself */
@media only screen and (max-width: 400px) {
    .about-myself .d-flex{
        flex-direction: column-reverse;
    }

}

/* for my education */
@media only screen and (max-width: 400px) {
    .my-education .d-flex{
        flex-direction: column;
    }

}

/* for my footer */
@media only screen and (max-width: 400px) {
    .footer .row{
        justify-content: center !important;
        flex-direction: column;
        gap: 20px;
    }
    .footer .d-flex{
        justify-content: center;
    }
    .footer .row p{
        text-align: center !important;
    }
}